<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/landing.css">
    <title>Document</title>
</head>
<body>
    <h1>Flavoursome: A Culinary Journey Through the Sydney's Best Eateries</h1>

    <a href="/restaurants">View Restaurants</a>
    <a href="/login">Already a member? LOG IN</a>

</body>
</html>