<h1>Share a flavoursome Restaurant!</h1>

<form action="/restaurants" method="post">
    <label for="">name</label>
    <input type="text" name="name">
    <label for="">image_url1</label>
    <input type="text" name="image_url1">
    <label for="">image_url2</label>
    <input type="text" name="image_url2">
    <label for="">description</label>
    <input type="text" name="description">
    <label for="">Location</label>
    <input type="text" name="location">
    <button>post</button>
</form>